*{
    background-color: #000;
    font-family: 'Minecraft', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.0vw 1.0vh;
    margin: 1.0vw 1.0vh;
}

.text.part, .image-part, .score_board{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.0vw 1.0vh;
    margin: 1.0vw 1.0vh;
    gap: 1.0vh;
} 

.text.part, .score_board{
    flex-direction: column;
}

@keyframes appear{
    from{width: 0;}
    to{width: 100%}
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 0;}
    to {opacity: 0;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes drop_down{
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
}

.message{
    font-size: 5.0vw;
    text-align: center;
    margin: 0;
    padding: 0;
    animation: blink 1.5s 0s infinite;
}

.text.one{
    font-size: 4.0vw;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content;
    animation: appear 2s 0s linear;
}

.text.two {
    font-size: 4.0vw;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content;
    animation: appear 2s 2.5s 2 alternate, fadeout 2.5s 0s 1 linear;
}

.text.three{
    font-size: 4.0vw;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content;
    animation: blink 1.5s 7s infinite, fadeout 7s 0s 1 linear;
}

.image-part{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: drop_down 8s 0s linear, fadein 8s 0s 1 linear;
}

img{
    width: 10vw;
    height: 100%;
    object-fit: contain;
    border: solid 1px #fff;
}

img:hover{
    border: solid 1px #000;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.image-part figcaption{
    font-size: 1.5vw;
    text-align: center;
    margin: 0;
    padding: 0;
}

.score, .points{
    font-size: 2.0vw;
    text-align: center;
    margin: 0;
    padding: 0;
    animation: fadeout 8s 0s 1 linear;
}